// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  // grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
  }
  &__image {
    padding-bottom: 100%;
  }
  &__label {
    background-color: var(--color-2);
    color: var(--color-3);
    padding: 2.4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}