// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.events {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-radius: 8px;
    overflow: hidden;
  }
  &__image {
    padding-bottom: 57%;
    border-radius: 10px;
  }
  &__label {
    font: var(--font-5);
    flex: 1 1 auto;
  }
  &__date {
    color: var(--color-2);
  }
  &__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  &__link {
    align-self: start;
  }
}